.menu {
    &-header {
        @include media-min(lg) {
            padding-top: rem(100);
            padding-bottom: rem(100);
        }
        padding-top: rem(60);
        padding-bottom: rem(60);
        
        &__title {
            @include media-min(md) {
                margin-left: 10%;
                text-align: left;
            } 
            text-align: center;
        }
    }
}

.menu-section {
    &:not(:first-of-type) {
        @include media-min(lg) {
            margin-top: rem(100);
        }
        margin-top: rem(80);
    }

    &--starters {
        .menu-section__image {
            background-image: url('../images/starters-2.jpg');
        }

        .menu-grid {
            @include media-grid-area(
                md,
                "item1 item3"
                "item2 item4",
                repeat(2, 1fr),
                1,
                4
            );
            @include media-min(lg) {
                grid-template-areas: 
                    ". item1 item3"
                    ". item2 item4";
                grid-template-columns: 0.10fr repeat(2, 1fr);
            }
        }
    }

    &--sandwiches {
        .menu-section__image {
            background-image: url('../images/sandwiches.jpg');
        }

        .menu-grid {
            @include media-grid-area(
                md,
                "item1 item4"
                "item1 item5"
                "item2 ."
                "item3 .",
                repeat(2, 1fr),
                1,
                5
            );
            @include media-min(lg) {
                grid-template-areas: 
                    ". item1 item4"
                    ". item1 item5"
                    ". item2 ."
                    ". item3 .";
                grid-template-columns: 0.3fr repeat(2, 1fr);
            }
        }
    }

    &--pizza {
        .menu-section__image {
            background-image: url('../images/pizza.jpg');
        }

        .menu-grid {
            @include media-grid-area(
                md,
                "item1 item8"
                "item2 item8"
                "item3 item8"
                "item4 item8"
                "item5 item8"
                "item6 item9"
                "item7 .",
                repeat(2, 1fr),
                1,
                9
            );
            @include media-min(lg) {
                grid-template-areas: 
                    ". item1 item8"
                    ". item2 item8"
                    ". item3 item8"
                    ". item4 item8"
                    ". item5 item8"
                    ". item6 item9"
                    ". item7 .";
                grid-template-columns: 0.10fr repeat(2, 1fr);
            }
        }
    }
    
    &--drinks {
        .menu-section__image {
            background-image: url('../images/beverages.jpg');
        }

        .menu-grid {
            @include media-grid-area(
                md,
                "item2 item1"
                "item3 item4",
                repeat(2, 1fr),
                1,
                4
            );
            @include media-min(lg) {
                grid-template-areas: 
                    ". item2 item1"
                    ". item3 item4";
                grid-template-columns: 0.3fr repeat(2, 1fr);
            }
        }
    }
    
    &__image {
        @include media-min(md) {
            height: 400px;   
        }
        @include media-min(lg) {
            width: 75%;
            height: 530px;
            margin-bottom: rem(100);
        }
        @include media-min(xl) {
            margin-bottom: rem(140);
        }
        position: relative;
        display: flex;
        align-items: center;
        height: 250px;
        margin-bottom: rem(60);

        &--right {
            @include media-min(lg) {
                .menu-section__title {
                    position: absolute;
                    right: -20%;
                }
            }
            justify-content: flex-end;
        }

        &--left {
            @include media-min(lg) {
                .menu-section__title {
                    position: absolute;
                    left: -20%;
                }
            }
            margin-left: auto;
            justify-content: flex-start;
        }
    }

    &__title {
        @include media-min(md) {
            font-size: em(48);
            letter-spacing: 15px;
        }
        @include media-min(lg) {
            padding: rem(50) rem(40);   
        }
        padding: rem(30) rem(20);
        background-color: map-get($colors, body-bg);
    }
}

.menu-grid {
    display: grid;
    grid-gap: rem(40);
}

.list {
    &--space {
        margin-top: rem(25);
        margin-bottom: rem(25);
    }

    &__item {
        line-height: em(30);
    }
}

.price {
    @include font(1rem, null, 400, 1px);
    display: inline-block;
    margin-left: rem(10);
}
