.story {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    margin-top: rem(60);

    @include media-min(md) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 650px;
        grid-column-gap: 15px;
    }

    &__image {
        background-image: url('../images/our-story.jpg');
    }

    &-content {
        margin-top: rem(60);
        padding-left: rem(30);
        padding-right: rem(30);

        &__title {
            margin-bottom: rem(40);
        }
    }
}