.story {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
    margin-top: rem(60);

    &__image {
        background-image: url('../images/our-story.jpg');
    }

    &-content {
        margin-top: rem(60);
        padding-left: rem(15);
        padding-right: rem(15);

        &__title {
            margin-bottom: rem(20);
        }
    }
}