@mixin media-grid-area($breakpoint, $areas, $columns, $start, $end) {
    @include media-min($breakpoint) {
        grid-template-areas: $areas;
        grid-template-columns: $columns;

        @for $i from $start through $end {
            &__item-#{$i} {
                grid-area: item#{$i}; 
            }
        }
    }
}